<ion-header>

    <app-titlebar [title]="'Exercises'"></app-titlebar>

  <ion-segment (ionChange)="changeDayFilter($event)">
    <ion-segment-button value="1" checked>Day 1</ion-segment-button>
    <ion-segment-button value="2">Day 2</ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let e of (exercises | async); let i = index" [routerLink]="['/detail', e.id]">
    <ion-avatar slot="start">
      <ion-img [src]="e.imgUrl"></ion-img>
    </ion-avatar>
    <ion-label>{{e.title}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
