<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add set</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="setFormGroup">
        <ion-item>
          <ion-input formControlName="weight" type="number" placeholder="Weight"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="repetitions" type="number" placeholder="Repetitions"></ion-input>
        </ion-item>
        <ion-range formControlName="rating" value="1" ticks="true" min="0" max="1" step="1" snaps="true">
          <ion-icon size="small" slot="start" name="thumbs-down"></ion-icon>
          <ion-icon slot="end" name="thumbs-up"></ion-icon>
        </ion-range>
        <ion-button (click)="addSet()" expand="full" [disabled]="setFormGroup.invalid">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="closeModal()" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
